<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="SLACK" class="com.snack.news.util.SlackAppender">
		<webhookUri>TA756FFFV/BR6UA13EK/gX2K1jXrmU3YVbTLjzJStwmG</webhookUri>
		<channel>#snack_dev_noti</channel>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d{yyyy-MM-dd HH:mm}] [%-5level] [%logger{36}] - %msg%n</pattern>
		</layout>
		<username>${HOSTNAME}</username>
		<iconEmoji>:fire:</iconEmoji>
		<colorCoding>true</colorCoding>
	</appender>

	<!-- Currently recommended way of using Slack appender -->
	<appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="SLACK" />
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>

	<root>
		<level value="ALL" />
		<appender-ref ref="ASYNC_SLACK" />
	</root>

</configuration>